@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nropyj');
  src:  url('fonts/icomoon.eot?nropyj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nropyj') format('truetype'),
    url('fonts/icomoon.woff?nropyj') format('woff'),
    url('fonts/icomoon.svg?nropyj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e906";
}
.icon-point:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-arrow-thin-right:before {
  content: "\e901";
}
.icon-isotipo:before {
  content: "\e904";
}
.icon-pinterest:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
